@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Kanit:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* General */
  --black: #141414;
  --white: #f9f9f9;
  --primary: #8266f6;
  --secondary: #dafa72;
  --box-shadow: #c5c5c5;
  --text-shadow: #e8e8e8;

  /* For cards */
  --light-purple: #e3dbfa;
  --light-blue: #b8e3fa;
  --light-green: #d4f6ed;
  --light-yellow: #fff3cc;
  --light-orange: #ffe1cc;
  --light-pink: #fbe2f4;
  --light-red: #f9d6d6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: default;
  font-family: 'Kanit', sans-serif;
}

html,
body {
  min-width: 100vw;
  max-width: 100vw;
  overflow-x: auto;
  background-color: rgb(244 244 245);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer !important;
}

path,
svg {
  cursor: pointer !important;
}

input[type=text],
input[type=number],
input[type=passwords] {
  cursor: text !important;
}

.shadow-top {
  box-shadow: 0px -1px 2px 0 rgba(0, 0, 0, 0.075);

}

/* Scrollbar */
::-webkit-scrollbar {
  border-radius: 0.5rem;
  height: 0.3rem;
  /* width of the horizontal  scrollbar */
  width: 0.2rem;
  /* width of the vertical scrollbar */
}

::-webkit-scrollbar-track {
  border-radius: 0.5rem;
  background: var(--page-color);
  /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: var(--black);
  border: 2px solid var(--black);
  /* creates padding around scroll thumb */
}